{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Dmarceye",
    "description": "API for accessing DMARCeye data",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://app.dmarceye.com/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/domains": {
      "get": {
        "description": "Returns all domains from the system that the user has access to",
        "responses": {
          "200": {
            "description": "Domains response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExistingDomain"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new domain",
        "requestBody": {
          "description": "Domain to add to your account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domain"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "domain response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExistingDomain"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domains/{domain}": {
      "get": {
        "description": "Get info about specific domain",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "domain to get info on",
            "required": true,
            "schema": {
              "type": "string",
              "format": "domain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "domain response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExistingDomain"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a single domain from your account",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "domain to delete",
            "required": true,
            "schema": {
              "type": "string",
              "format": "domain"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Domain": {
        "required": [
          "domain"
        ],
        "type": "object",
        "properties": {
          "domain": {
            "description": "Domain name",
            "type": "string"
          }
        }
      },
      "ExistingDomain": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Domain"
          },
          {
            "type": "object",
            "properties": {
              "created_at": {
                "description": "Created at timestamp (RFC3339)",
                "type": "string",
                "format": "date-time",
                "example": "2024-06-10T19:55:26+00:00",
                "readOnly": true
              },
              "updated_at": {
                "description": "Updated at timestamp (RFC3339)",
                "type": "string",
                "format": "date-time",
                "example": "2024-06-10T19:55:26+00:00",
                "readOnly": true
              },
              "dmarc_record": {
                "description": "Current DMARC record of the domain",
                "type": "string",
                "format": "string",
                "example": "v=DMARC1; p=reject; rua=mailto:foo@bar.baz;",
                "readOnly": true
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}